# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
.history/
*.code-workspace
.vscode/settings.json

# Streamlit
.streamlit/

# Hugging Face
cache/
*.cache

# Environment variables
.env

# OS Files
.DS_Store
Thumbs.db

# Audio
*.wav
*.mp3
*.flac
